@using System.Timers
@using Microsoft.AspNetCore.Components
@using MudBlazor
@implements IDisposable

<div class="timer-container flex-column">
    <div class="d-flex align-center justify-content-center mb-2">
        <MudIcon Icon="@Icons.Material.Filled.Timer" Color="@GetTimerColor()" />
        <div class="timer @(RemainingSeconds <= 5 ? "timer-critical" : "")">@RemainingSeconds</div>
        <MudText>seconds remaining</MudText>
    </div>
    <MudProgressLinear Color="@GetTimerColor()" 
                     Size="Size.Large" 
                     Value="@GetTimerProgress()" 
                     Class="rounded-lg" 
                     Style="width: 80%; margin: auto;" />
</div>

@code {
    [Parameter]
    public int TotalSeconds { get; set; }

    [Parameter]
    public EventCallback OnTimerElapsed { get; set; }

    private Timer? _timer;
    private int RemainingSeconds { get; set; }
    private bool IsTimerActive => RemainingSeconds > 0;

    protected override void OnInitialized()
    {
        _timer = new Timer(1000);
        _timer.Elapsed += TimerTick;
    }

    protected override void OnParametersSet()
    {
        if (TotalSeconds > 0 && !IsTimerActive)
        {
            StartTimer(TotalSeconds);
        }
    }

    private void StartTimer(int seconds)
    {
        RemainingSeconds = seconds;
        _timer?.Start();
    }

    public void StopTimer()
    {
        _timer?.Stop();
        RemainingSeconds = 0;
    }

    private void TimerTick(object? sender, ElapsedEventArgs e)
    {
        if (RemainingSeconds <= 0)
        {
            _timer?.Stop();
            InvokeAsync(async () => await OnTimerElapsed.InvokeAsync());
        }
        else
        {
            RemainingSeconds--;
            InvokeAsync(StateHasChanged);
        }
    }

    private double GetTimerProgress()
    {
        if (!IsTimerActive || TotalSeconds <= 0) return 0;
        double progress = ((double)RemainingSeconds / TotalSeconds) * 100.0;
        return Math.Max(0, Math.Min(100, progress));
    }

    private Color GetTimerColor()
    {
        if (!IsTimerActive) return Color.Default;
        double percentage = GetTimerProgress();

        if (percentage <= 15) return Color.Error;
        if (percentage <= 40) return Color.Warning;
        return Color.Success;
    }

    public void Dispose()
    {
        if (_timer != null)
        {
            _timer.Elapsed -= TimerTick;
            _timer.Dispose();
        }
    }
}
