@using System.Timers
@using Microsoft.AspNetCore.Components
@implements IDisposable

<div class="timer-container flex-column">
    <div class="d-flex align-items-center justify-content-center mb-2">
        <i class="bi bi-clock" style="color: @GetTimerColorHex(); margin-right: 0.5rem;"></i>
        <div class="timer @(RemainingSeconds <= 5 ? "timer-critical" : "")">@RemainingSeconds</div>
        <span style="margin-left: 0.5rem;">seconds remaining</span>
    </div>
    <RadzenProgressBar Value="@GetTimerProgress()" 
                      ProgressBarStyle="@GetTimerProgressBarStyle()" 
                      ShowValue="false"
                      Style="width: 80%; margin: auto;" />
</div>

@code {
    [Parameter]
    public int TotalSeconds { get; set; }

    [Parameter]
    public EventCallback OnTimerElapsed { get; set; }

    private Timer? _timer;
    private int RemainingSeconds { get; set; }
    private bool IsTimerActive => RemainingSeconds > 0;

    protected override void OnInitialized()
    {
        _timer = new Timer(1000);
        _timer.Elapsed += TimerTick;
    }

    protected override void OnParametersSet()
    {
        if (TotalSeconds > 0 && !IsTimerActive)
        {
            StartTimer(TotalSeconds);
        }
    }

    private void StartTimer(int seconds)
    {
        RemainingSeconds = seconds;
        _timer?.Start();
    }

    public void StopTimer()
    {
        _timer?.Stop();
        RemainingSeconds = 0;
    }

    private void TimerTick(object? sender, ElapsedEventArgs e)
    {
        if (RemainingSeconds <= 0)
        {
            _timer?.Stop();
            InvokeAsync(async () => await OnTimerElapsed.InvokeAsync());
        }
        else
        {
            RemainingSeconds--;
            InvokeAsync(StateHasChanged);
        }
    }

    private double GetTimerProgress()
    {
        if (!IsTimerActive || TotalSeconds <= 0) return 0;
        double progress = ((double)RemainingSeconds / TotalSeconds) * 100.0;
        return Math.Max(0, Math.Min(100, progress));
    }

    private string GetTimerColorHex()
    {
        if (!IsTimerActive) return "#6c757d";
        double percentage = GetTimerProgress();

        if (percentage <= 15) return "#dc3545";
        if (percentage <= 40) return "#ffc107";
        return "#198754";
    }

    private ProgressBarStyle GetTimerProgressBarStyle()
    {
        if (!IsTimerActive) return ProgressBarStyle.Secondary;
        double percentage = GetTimerProgress();

        if (percentage <= 15) return ProgressBarStyle.Danger;
        if (percentage <= 40) return ProgressBarStyle.Warning;
        return ProgressBarStyle.Success;
    }

    public void Dispose()
    {
        if (_timer != null)
        {
            _timer.Elapsed -= TimerTick;
            _timer.Dispose();
        }
    }
}